<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">SNS College Of Technology</h4>
               <ul>
                    <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
                    <li>Computer Science Engineer, CGPA - 67</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2011</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">AVB Matric Hr Sec School
               </h4>
               <ul>
                <li>The High School was mainly focus on the bases of science, mathematics, and Chemistry</li>
                <li>There was also a good base on physics, mathematics and chemistry.</li>
                <li>Completed my high school with<b> 82.25%</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2009</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Dr.P.G.V Matriculation School</h4>
               <ul>
                    <li>The Secondary aims at Maths , English , Science, Social Science and Languages.</li>
                    <li>Completed my Secondary school with <b>74.2%</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>